<style>
  .card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
</style>
 
<h1 class="text-center my-4">Hello World, com Handlebars!</h1>
<div class="container">

  <h2 class="text-center mb-4">Produtos Disponíveis</h2>
  <p class="text-center mb-4">Confira os produtos disponíveis no nosso e-commerce de peças de computador.</p>
  {{#if produtos.length}}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{#each produtos}}
        <div class="col">
          <a href="/produtos/{{this.id_produto}}" class="text-decoration-none">
            <div class="card h-100 bg-light border-primary">
              <div class="card-body">
                <h5 class="card-title text-primary">{{this.nome}}</h5>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-warning text-center" role="alert">
      Sem produtos disponíveis no momento.
    </div>
  {{/if}}
</div><h1>Hello World, com handlebars!</h1>
